<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DigitaldreamNarrow.ttf</string>
		<string>lcd14.otf</string>
		<string>LCDMonoNormal.ttf</string>
	</array>
</dict>
</plist>
